<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" media="all" href="/assets/qor_auth.css">

 <div id="container-login">
   {{$flashes := .Flashes}}
    {{if $flashes}}
      <ul class="errors">
        {{range $flash := $flashes}}
          <li><strong style="color: #657575">{{$flash.Message}}</strong></li>
        {{end}}
      </ul>
    {{end}}
        <div id="title">
            <i class="material-icons lock">lock</i> {{ t "login.button"}}
        </div>

    {{if .Auth.GetProvider "password"}}
      <form action="{{.AuthURL "password/login"}}" method="POST">
       <div class="remember-me">
                <span style="color: #757575">Log in to your account</span>
            </div>

      <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>
                <input id="email" name="login" autocomplete="on" placeholder="{{t "email"}}" value="{{.FormValue "login"}}"/>
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input type="password" class="form-control" id="password" name="password" autocomplete="on" placeholder="{{t "password"}}"/>
            </div>

            </br>
            <input type="submit" ></input>
      </form>
    {{end}}
  <div class="register">
            <span style="color: #657575">{{ t "auth.passwords.forgot_password" }}</span>
            <a href="#"><button id="register-link">{{ t "login.forget_password" }}</button></a>
        </div>
 </div>
</div>
 
    {{if (and (gt (len .Auth.GetProviders) 1) (.Auth.GetProvider "password"))}}
      <div class="line">
        <span>{{ t "auth.or_sign_in_with" }}</span>
      </div>
    {{end}}

    <div class="qor-auth-social-login">
      {{if .Auth.GetProvider "facebook"}}
        <a href="{{.AuthURL "facebook/login"}}" class="qor-auth-facebook" title="{{t "auth.links.sign_in_with" "facebook"}}">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      {{end}}

      {{if .Auth.GetProvider "twitter"}}
        <a href="{{.AuthURL "twitter/login"}}" class="qor-auth-twitter" title="{{t "auth.links.sign_in_with" "twitter"}}">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      {{end}}

      {{if .Auth.GetProvider "github"}}
        <a href="{{.AuthURL "github/login"}}" class="qor-auth-github" title="{{t "auth.links.sign_in_with" "github"}}">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      {{end}}

      {{if .Auth.GetProvider "google"}}
        <a href="{{.AuthURL "google/login"}}" class="qor-auth-google" title="{{t "auth.links.sign_in_with" "google"}}">
          <i class="fa fa-google" aria-hidden="true"></i>
        </a>
      {{end}}
    </div>
  