<div class="main-article">
    {{ render_edit_button .article }}
    <h1>{{ .article.Title }}</h1>
    <h4>{{ .article.Author.Name }}</h4>
    <div> {{ raw .article.Content }}</div>
</div>
<style>
.main-article {
    padding: 3rem 8rem;
}
</style>