<h1 style="justify-content: center;display: flex;margin-top:2.5rem;">Articles</h1>
<link rel="stylesheet" media="all" href="/dist/article.css">
<div class="article-item">
    {{ range .articles }}

    <div class="article-item-image d-none d-sm-flex">
        <img src="{{ .DefaultPath }}" height="150" width="150" alt="Article">
    </div>
    <div class="article-item-info">
        <h2>{{ .Title }}</h2>
        <p>{{ slice .Content 0 150 | raw }}...</p>
        <span class="article-item-author">
            <strong>Autor: </strong>{{ .Author.Name }}
        </span>
        <a href="/blog/{{ .TitleWithSlug.Slug }}">{{ .Title }}</a>

    </div>
    {{ end }}
</div>
